/****************************************
  Inherited Syles
*****************************************/

/*
See this explanation for details
https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
*/

html {
    box-sizing: border-box;
    color: #444;
    font: 12pt 'Lato', 'Open Sans', Arial;
    font-weight: 300;
}

*, *::before, *::after {
    box-sizing: inherit;
    color: inherit;
    font: inherit;
}

/****************************************
  Defaults
*****************************************/
body {
	background-color: #939595;
}

/****************************************
  Helpers
*****************************************/


/****************************************
  Layout
*****************************************/
.page {
	height: 100vh;
	text-align: center;
	background: #808587;
	background: radial-gradient(rgba(136, 139, 140, .9), 
		rgba(136, 139, 140, .8)), 
		url('../images/puddles-1000px.jpg');
	background-size: cover;
	background-position: center center;
	padding: 60px;
}

.page > div {
	max-width: 1000px;
	margin: auto auto;
}

.primary-header {
	display: flex;
	padding-top: 40px;
	position: relative;
}

.page > div:first-child {
	background: url('../images/puddles_sm1000px.jpg');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.primary-header > div {
	color: #fff;
	position: absolute;
	left: 60px;
	font-weight: 400;
}

.primary-header > nav {
	color: #fff;
	position: absolute;
	right: 70px;
}

.action {
	font-weight: 400;
	font-size: 8pt;
	background-color: #0A00E7;
	border: 2px solid transparent;
	margin-left: 15px;
	transition: all .2s;
}

.action:hover {
	background-color: rgba(255, 255, 255, .2);
	color: blue;
	border: 2px solid blue;
	transform: scale(1.3);
}

nav > a {
	font-weight: 400;
	font-size: .75em;
	text-decoration: none;
	text-transform: uppercase;
	padding: 15px;
}

nav > a:hover {
	border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}

.attention-content {
	padding: 100px 0;
	color: #fff;
}

.cta {
	font-weight: 400;
	color: #A6A8A3;
	font-size: 10pt;
	background-color: transparent;
	border: 2px solid #787F7C;
	transition: color .25s;
}

.cta:hover {
	color: #fff;
	background-color: rgba(120, 127, 124, .5);
}

/****************************************
  Components
*****************************************/
.standout {
	text-shadow: 0px 0px 5px #555;
}

.button-style {
	line-height: 100%;
	border-radius: 20px;
	padding: 5px 20px;
	text-transform: upperCase;
}

.media-object {
	display: flex;
	position: relative;
}

.media-content {
	width: 50%;
	color: #fff;
	text-align: left;
	background-color: #000;
	padding: 40px 70px 0px 70px;
}

.media-content > div {
	border-left: 2px solid white;
	padding-left: 20px;
}

.media-content h2 {
	font-size: 20pt;
	padding-top: 20px;
	margin: 0;
	margin-bottom: 20px;
}

.media-content p {
	font-size: 10pt;
	line-height: 200%;
	margin: 0 80px 0 0;
	padding-bottom: 20px;
}

.media-image {
	flex: 1;
	background-color: white;
	background: url('../images/sitting.jpg');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	width: 50%;
	min-height: 110%;
	position: absolute;
	bottom: 0;
	right: 0;
}
