/****************************************
  Inherited Syles
*****************************************/

/*
See this explanation for details
https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
*/

html {
  box-sizing: border-box;
  color: #444;
  font: 12pt 'Lato', 'Open Sans', Arial;
  font-weight: 300;
}

*, *::before, *::after {
  box-sizing: inherit;
  color: inherit;
  font: inherit;
}

/****************************************
  Defaults
*****************************************/
body {
	background-color: #939595;
}

/****************************************
  Helpers
*****************************************/


/****************************************
  Layout
*****************************************/
.page {
	@include wider-than(800px) {
		height: 100vh;
		text-align: center;
		background: $oslo-gray;
		background: radial-gradient(rgba(136, 139, 140, .9), 
			rgba(136, 139, 140, .8)), 
			url('../images/puddles-1000px.jpg');
		background-size: cover;
		background-position: center center;
		padding: 60px;
	}
}

.page > div {
	max-width: 1000px;
	margin: auto auto;
}

.primary-header {
	color: $white;
	@include wider-than(640px) {
		display: flex;
		padding-top: 40px;
		position: relative;
	}
}

.page > div:first-child {
	background: url('../images/puddles_sm1000px.jpg');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.primary-header > div {
	@include less-than(640px) {
		text-align: center;
		padding-top: 20px;
		padding-bottom: 5px;
	}
	@include wider-than(640px) {
		position: absolute;
		left: 60px;
		font-weight: 400;
	}
}

.primary-header > nav {
	@include wider-than(640px) {
		position: absolute;
		right: 70px;
	}
}

.action {
	@include less-than(640px) {
		margin-top: 40px;
	}
	font-weight: 400;
	font-size: 8pt;
	background-color: $candy-apple;
	border: 2px solid transparent;
	transition: all .2s;
	@include wider-than(640px) {
		margin-left: 15px;
	}
}

.action:hover {
	background-color: rgba(255, 255, 255, .2);
	color: $candy-apple;
	border: 2px solid $candy-apple;
	transform: scale(1.3);
}

nav > a {
	font-weight: 400;
	font-size: .75em;
	text-decoration: none;
	text-transform: uppercase;
	padding: 15px;
}

nav > a:hover {
	border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}

.attention-content {
	@include less-than(640px) {
		text-align: center;
	}
	padding: 100px 0;
	color: $white;
}

.cta {
	font-weight: 400;
	color: $white;
	background-color: rgba(120, 127, 124, .5);
	font-size: 10pt;
	border: 2px solid $gunsmoke;
	transition: all .25s ease-in-out;
}

.cta:hover {
	background-color: transparent;
	border-color: $white;
}

/****************************************
  Components
*****************************************/
.logo {
	font-size: 1.2em;
}

.standout {
	text-align: center;
	text-shadow: 0px 0px 5px $emperor;
}

.button-style {
	line-height: 100%;
	border-radius: 20px;
	padding: 5px 20px;
	text-transform: upperCase;
}

.media-object {
	@include wider-than(650px) {
		display: flex;
		position: relative;
	}
}

.media-content {
	color: $white;
	background-color: $black;
	@include wider-than(650px) {
		width: 50%;
		text-align: left;
		padding: 40px 70px 0px 70px;
	}
}

.media-content > div {
	@include less-than(480px){
		padding: 5px;
		text-align: center;
	}
	@include wider-than(480px) {
		padding-left: 20px;
	}
	@include wider-than(650px) {
		border-left: 2px solid $white;
	}
}

.media-content h2 {
	font-size: 20pt;
	padding-top: 20px;
	margin: 0;
	margin-bottom: 20px;
}

.media-content p {
	@include wider-than(480px) {
		font-size: 10pt;
		line-height: 200%;
		margin: 0 80px 0 0;
		padding-bottom: 20px;
	}
}

.media-image {
	width: 100vw;
	height: 100vh;
	background-color: $white;
	background: url('../images/sitting.jpg');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	@include wider-than(650px){
		position: absolute;
		width: 50%;
		height: 110%;
		flex: 1;
		bottom: 0;
		right: 0;
	}
}